page-home {
    *{
        // font-family: "Helvetica Neue",Helvetica,PingFangSC-Regular,'Microsoft Yahei',verdana,Arial,sans-serif;
        // font-size: 12px;
        // color: #666666;
    }
    #demo{
        $colors: (
            primary:    #488aff,
            secondary:  #32db64,
            danger:     #f53d3d,
            light:      #f4f4f4,
            dark:       #222
        );
    }
    body,h1,h2,h3,h4,h5,h6,img,li,ol,ul{
        margin: 0;
        padding: 0;
    }
    a,span,p{
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 100%;
        text-decoration: none;
    }
    // 导航栏 -start
    .top_header_message_icon{
        float: left;
        font-size: 2em;
        min-height: 44px;
        color: #848994;
        padding: 9px 5px 9px 5px;
        text-align: center;
    }
    .searchbar-input{

    }
    .searchbar{
        float: left;
        width: 90%;
    }
    // 导航栏 -end

    // 轮播图 -start
    .carousel{
        height: 170px;
        width: 100%;
    }
    // 轮播图 -end

    // 商品分类 -start
    .goodsCategory{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        justify-content: space-between;
        align-self: flex-end;
    }
    .flowerKind,.preservedKind{
        width: 45%;
        height: 100%;
        margin: 0 auto;
    }
    .flowerKind>a,.preservedKind>a{
        display: inline-block;
    }
    .flowerKind>a>img,.preservedKind>a>img{
        border-radius: 10px;
    }
    // 商品分类 -end

    // 主页 标题 -start
    .main_title{
        border-bottom: 1px solid #ececec;
        position: relative;
        margin-top: 15px;
    }
    h3.main_title_text{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 5px;
        text-indent: 5px;
        margin-left: 10px;
    }
    h3.main_title_text:before {
        content: "";
        width: 80px;
        height: 2px;
        left: 10px;
        bottom: -1px;
        position: absolute;
        margin-left: 2px;
        background-color: #d2a042;
    }
    h3.main_title_text>i{
        font-size: 12px;
    }
    // 主页 标题 -end

    // 推荐商品列表 -start
    .col{
        margin: .5em .5em;
        max-width: 45%;
        background-color: #dfdfdf;
        border-radius:7px;
        box-shadow: 1px 4px 8px rgba(0,0,0,.2);
    }
    .goods_recommend{
        width: 100%;
        height: auto;
    }
    .product_view>a.product_pic{
        display: inline-block;
        position: relative;
        width: 95%;
    }
    .product_view>a.product_pic>img{
        border-radius: 7px;
    }
    .product_info a{
        font-family: "Helvetica Neue",Helvetica,PingFangSC-Regular,'Microsoft Yahei',verdana,Arial,sans-serif;
        font-size: 12px;
        color: #666666;
    }
    .product_info_til{
        // height: 20px;
        line-height: 14px;
    }
    .product_info_til>a{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .product_introduce{
        line-height: 20px;
        text-align: center;
        overflow: hidden;
        display: inline-block;
        height: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .product_price{
        // height: 20px;
        line-height: 14px;
        text-align: center;
    }
    .product_price>i.product_price_sale,.product_price>s.product_price_origin{
        display: inline-block;
        text-align: center;
        margin: 0 .3em;
    }
    .product_price>i.product_price_sale{
        color: #d4a142;
        font-size: 14px;
    }
    .product_price>s.product_price_origin{
        color: #aaa;
        font-size: 12px;
    }
    .group_btn{
        width: 100%;
        height: 100%;
    }
    .group_btn_bg{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        border-radius: 7px;
        background-color: #000;
    }
    .group_btn_box>img{
        position: absolute;
        right: 35px;
        top: 50%;
        margin-top: -40px;
        width: 80px;
        max-width: 1000%;
    }
    .group_btn_box{
        top: 10px;
        width: 30px;
        right: 15px;
        // display: none;
        position: absolute;
        z-index: 10;
        vertical-align: middle;
    }
    .group_btn_list{
        width: 100%;
        height: 30px;
        margin: .1em 0;
        border-radius: 50%;
        border: 1px solid #b4aab3;
        color:#fff;
    }
    .group_btn_list>i{
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
    }
    .group_btn_list>i>ion-icon{
        line-height: 30px;
        font-size: 1.4em;
    }
    // 推荐商品列表 -end
}
