//记得在 varibles.scss 中引入

.light{
    //白天样式
}
ion-content{
    background-color: #e5e6e8 !important;   //app 全局定义底色为 灰色
}

.marginBottom{
    margin-bottom: 10px !important;
}

.paddingTop{
    padding-top: 10px !important;
}