page-me{
    .card{
        margin:0;
        width:100%;
    }

    .marginTop{
        margin-top: 10px;
    }

    .list-md + ion-list ion-list-header {
        margin-top: 0px !important;
    }

    .list-header-md {
        margin-bottom: 0px !important;
    }
}